:root {
  --body-color: white;
  --footer-color: darkgreen;
  --container-color: ivory;
  --font-color: black;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--body-color);
}

a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  color: var(--font-color);
}
a:hover {
  cursor: pointer;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}

h1 {
  text-align: center;
}

.hero {
  background: var(--container-color);
}
.footer {
  background: var(--footer-color);
  color: var(--body-color);
}
.container {
  margin: 0 auto;
  width: 80%;
  max-width: 60em; /*60 * 16 = 960 */
  outline: red 1px dashed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
}
