:root {
  --body-color: white;
  --footer-color: darkgreen;
  --hero-grad: linear-gradient(ivory, ivory, ivory, blanchedalmond);
  --hero-color: var(--hero-grad);
  --odd-item-color: cornsilk;
  --even-item-color: ivory;
  --announcements-color: blanchedalmond;
  --results-color: blanchedalmond;
  --rad-grad: radial-gradient(ivory, ivory, ivory, wheat, maroon);
  --row-color: var(--rad-grad);
  --blurb-grad: linear-gradient(blanchedalmond, blanchedalmond, ivory);
  --blurb-color: var(--blurb-grad);
  --schedule-grad: linear-gradient(ivory, ivory, ivory, blanchedalmond);
  --schedule-color: var(--schedule-grad);
  --lin-grad: linear-gradient(cornsilk, ivory, ivory, cornsilk);
  --game-color: var(--lin-grad);
  --robots-color: blanchedalmond;
  --robot-grad: linear-gradient(blanchedalmond, ivory, ivory, blanchedalmond);
  --robots-item-color: var(--robot-grad);
  --details-color: var(--blurb-grad);
  --vacb-color: var(--rad-grad);
  --contacts-color: ivory;
  --partnerships-color: var(--lin-grad);
  --font-color: black;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--body-color);
}

a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  color: var(--font-color);
}
a:hover {
  cursor: pointer;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

.hero {
  background: var(--hero-color);
}
.footer {
  background: var(--footer-color);
  color: var(--body-color);
}
.container {
  margin: 0 auto;
  width: 80%;
  max-width: 50em; /*50 * 16 = 800 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.announcements {
  background: var(--announcements-color);
  width: 100%;
}
.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item:nth-child(odd) {
  background: var(--odd-item-color);
}
.item:nth-child(even) {
  background: var(--even-item-color);
}

.results {
  background: var(--results-color);
  width: 100%;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row a {
  width: 45%;
  background: var(--row-color);
}

.blurb {
  background: var(--blurb-color);
  width: 100%;
}

.schedule {
  background: var(--schedule-color);
  width: 100%;
}
.game {
  background: var(--game-color);
  width: 100%;
}

.robots {
  background: var(--robots-color);
  width: 100%;
}
.robots-item {
  background: var(--robots-item-color);
  width: 40%;
}

.details {
  background: var(--details-color);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.vacb {
  background: var(--rad-grad);
  width: 60%;
}

.contacts {
  background: var(--contacts-color);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.partnerships {
  background: var(--partnerships-color);
  display: flex;
  flex-direction: row;
}
